[package]
edition = "2018"
name = "mold-web"
version = "0.1.0"
authors = ["Vitalik Stepchik <vitalatron@gmail.com>"]
include = ["data/**"]

[dependencies]
actix-web = "0.7"
serde = "1.0"
serde_derive = "1.0"
serde_json = "1.0"
maud = {version = "0.19", features = ["actix-web"]}
mime_guess = "2.0.0-alpha.6"
phf = "0.7"
phf_macros = "0.7"
includedir = "0.4"
bytes = "0.4"

[build-dependencies]
includedir_codegen = "0.4"

[profile.release]
lto = true
