[package]
name = "mold-web"
version = "0.1.0"
authors = ["Vitalik Stepchik <vitalatron@gmail.com>"]

[dependencies]
rocket = "0.3"
rocket_codegen = "0.3"
serde = "1.0"
serde_derive = "1.0"
serde_json = "1.0"
maud = {version = "0.19", features = ["rocket"]}
