[package]
edition = "2018"
name = "mold-web"
version = "0.1.0"
authors = ["Vitalik Stepchik <vitalatron@gmail.com>"]
include = ["data/**"]

[dependencies]
actix = "0.7"
actix-web = { version = "0.7", features=["alpn"] }
openssl = { version = "0.10", features = ["v110"] }
serde = "1.0"
serde_derive = "1.0"
serde_json = "1.0"
maud = { version = "0.19", features = ["actix-web"] }
mime_guess = "2.0.0-alpha.6"
phf = { version = "0.7", features=["macros"] }
includedir = "0.4"
bytes = "0.4"
log = { version = "0.4", features = ["max_level_debug", "release_max_level_info"] }
env_logger = "0.6"

[build-dependencies]
includedir_codegen = "0.4"

[profile.release]
# disabled lto until https://github.com/rust-lang/rust/issues/62896 is resolved
lto = false
codegen-units = 1
