// DAY
$clr-bg-day: #FEFEFE;
$clr-fg-day: #404060;
$clr-a-day: #0077AA;
$clr-a-visited-day: #9E1458;
$clr-code-fg-day: #205075;
$clr-date-fg-day: #505A5A;
$clr-blockquote-fg-day: #445566;
$clr-before-blockquote-fg-day: #666666;
$clr-header-separator-day: #454545;

// NIGHT
$clr-bg-ngt: #040404;
$clr-fg-ngt: #BABACA;
$clr-a-ngt: #067EB2;
$clr-a-visited-ngt: #A96084;
$clr-code-fg-ngt: #99AACC;
$clr-date-fg-ngt: #829DA0;
$clr-blockquote-fg-ngt: #BABACA;
$clr-before-blockquote-fg-ngt: #BFBFBF;
$clr-header-separator-ngt: #BABABA;
