html {
    background-color: #fefefe;
}

body {
    font-family: Open Sans, Arial, sans-serif;
    color: #454545;
    font-size: 16px;
    margin: 1.6em auto;
    max-width: 800px;
    padding: 1em;
    line-height: 1.4;
    text-align: justify;
}

html.night {
    background-color: #040404;
}

html.night body {
    color: #bababa;
}

html.night blockquote {
    color: #dad0c7;
}

html.night blockquote:before {
    color: #bfbfbf;
}

html.night a {
    color: #07a;
}

html.night a:visited {
    color: #ac5a82;
}

p {
    text-indent: 1.5em;
}

a {
    color: #07a;
}

a:visited {
    color: #941352;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

small {
    font-size: .4em;
}

div.fancyPositioning div.picture-left {
    float: left;
    width: 40%;
    overflow: hidden;
    margin-right: 1em;
}

div.fancyPositioning div.picture-left img {
    width: 100%;
}

div.fancyPositioning div.picture-left p.caption {
    font-size: .7em;
}

div.fancyPositioning div.tleft {
    float: left;
    width: 55%;
}

div.fancyPositioning div.tleft p:first-child {
    margin-top: 0;
}

div.fancyPositioning:after {
    display: block;
    content: "";
    clear: both;
}

ul li img {
    height: 1em;
}

blockquote {
    color: #456;
    margin-left: 0;
    margin-top: 2em;
    margin-bottom: 2em;
}

blockquote span {
    float: left;
    margin-left: 1rem;
    padding-top: 1rem;
}

blockquote:before {
    font-family: Times New Roman, Times, Arial, sans-serif;
    color: #666;
    content: open-quote;
    font-size: 2.2em;
    font-weight: 600;
    float: left;
    margin-top: 0;
    margin-right: .2rem;
    width: 1.2rem;
}

blockquote:after {
    content: "";
    display: block;
    clear: both;
}

@media screen and (max-width: 500px) {
    body {
        text-align: left;
    }

    div.fancyPositioning div.picture-left, div.fancyPositioning div.tleft {
        float: none;
        width: inherit;
    }

    blockquote span {
        width: 80%;
    }
}

img#logo, img#themeIcon {
    width: 3rem;
    height: 3rem;
}

img#themeIcon {
    float: right;
    cursor: pointer;
}

div#header {
    border-bottom: 1px solid #454545;
    padding: 0.3rem;
}

html.night div#header {
    border-bottom: 1px solid #bababa;
}

#jumpToTop {
    position: fixed;
    left: 0.5rem;
    bottom: 2rem;
}

#jumpToTop img {
    width: 2rem;
    height: 2rem;
    cursor: pointer;
}

.article {
    margin: 0 0 2em;
}

.article h3 {
    text-indent: 1.5em;
}

.date {
    float: right;
    margin: 0.4em 1em;
    font-style: italic;
    color: #788;
}

html.night .date {
    color: #566;
}

.article .date {
    font-size: 0.8em;
}

.icon {
    width: .8em;
    height: .8em;
    margin: .075em;
}
