html {
    background-color: #fefefe;
}

body {
    font-family: Open Sans, Arial, sans-serif;
    color: #454545;
    font-size: 16px;
    margin: 1.6em auto;
    max-width: 800px;
    padding: 1em;
    line-height: 1.4;
    text-align: justify;
}

html.inverted {
    background-color: #040404;
}

html.inverted body {
    color: #bababa;
}

html.inverted blockquote {
    color: #dad0c7;
}

html.inverted blockquote:before {
    color: #bfbfbf;
}

html.inverted a {
    color: #07a;
}

html.inverted a:visited {
    color: #ac5a82;
}

a {
    color: #07a;
}

a:visited {
    color: #941352;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

small {
    font-size: .4em;
}

div.fancyPositioning div.picture-left {
    float: left;
    width: 40%;
    overflow: hidden;
    margin-right: 1em;
}

div.fancyPositioning div.picture-left img {
    width: 100%;
}

div.fancyPositioning div.picture-left p.caption {
    font-size: .7em;
}

div.fancyPositioning div.tleft {
    float: left;
    width: 55%;
}

div.fancyPositioning div.tleft p:first-child {
    margin-top: 0;
}

div.fancyPositioning:after {
    display: block;
    content: "";
    clear: both;
}

ul li img {
    height: 1em;
}

blockquote {
    color: #456;
    margin-left: 0;
    margin-top: 2em;
    margin-bottom: 2em;
}

blockquote span {
    float: left;
    margin-left: 1rem;
    padding-top: 1rem;
}

blockquote author {
    display: block;
    clear: both;
    font-size: .6em;
    margin-left: 2.4rem;
    font-style: oblique;
}

blockquote author:before {
    content: "- ";
    margin-right: 1em;
}

blockquote:before {
    font-family: Times New Roman, Times, Arial;
    color: #666;
    content: open-quote;
    font-size: 2.2em;
    font-weight: 600;
    float: left;
    margin-top: 0;
    margin-right: .2rem;
    width: 1.2rem;
}

blockquote:after {
    content: "";
    display: block;
    clear: both;
}

@media screen and (max-width: 500px) {
    body {
        text-align: left;
    }

    div.fancyPositioning div.picture-left, div.fancyPositioning div.tleft {
        float: none;
        width: inherit;
    }

    blockquote span {
        width: 80%;
    }

    blockquote author {
        padding-top: 1em;
        width: 80%;
        margin-left: 15%;
    }

    blockquote author:before {
        content: "";
        margin-right: inherit;
    }
}

img#logo, img#themeIcon {
    width: 3rem;
    height: 3rem;
}

img#themeIcon {
    float: right;
    cursor: pointer;
}

div#header {
    border-bottom: 1px solid #454545;
    padding: 0.3rem;
}

html.inverted div#header {
    border-bottom: 1px solid #bababa;
}
