/* cyrillic-ext */
@font-face {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    src: local('Ubuntu Regular'), local('Ubuntu-Regular'), url(https://fonts.gstatic.com/s/ubuntu/v12/4iCs6KVjbNBYlgoKcg72j00.woff2) format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    src: local('Ubuntu Regular'), local('Ubuntu-Regular'), url(https://fonts.gstatic.com/s/ubuntu/v12/4iCs6KVjbNBYlgoKew72j00.woff2) format('woff2');
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

/* greek-ext */
@font-face {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    src: local('Ubuntu Regular'), local('Ubuntu-Regular'), url(https://fonts.gstatic.com/s/ubuntu/v12/4iCs6KVjbNBYlgoKcw72j00.woff2) format('woff2');
    unicode-range: U+1F00-1FFF;
}

/* greek */
@font-face {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    src: local('Ubuntu Regular'), local('Ubuntu-Regular'), url(https://fonts.gstatic.com/s/ubuntu/v12/4iCs6KVjbNBYlgoKfA72j00.woff2) format('woff2');
    unicode-range: U+0370-03FF;
}
/* latin-ext */
@font-face {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    src: local('Ubuntu Regular'), local('Ubuntu-Regular'), url(https://fonts.gstatic.com/s/ubuntu/v12/4iCs6KVjbNBYlgoKcQ72j00.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    src: local('Ubuntu Regular'), local('Ubuntu-Regular'), url(https://fonts.gstatic.com/s/ubuntu/v12/4iCs6KVjbNBYlgoKfw72.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

html {
    background-color: #fefefe;
}

body {
    font-family: 'Ubuntu', sans-serif, Arial, sans-serif;
    color: #404060;
    font-size: 18px;
    margin: 1.6em auto;
    max-width: 800px;
    padding: 1em;
    line-height: 1.4;
    letter-spacing: 0.11em;
    text-align: left;
}

html.night {
    background-color: #040404;
}

html.night body {
    color: #babaca;
}

html.night blockquote {
    color: #dad0c7;
}

html.night blockquote:before {
    color: #bfbfbf;
}

html.night a {
    color: #07a;
}

html.night a:visited {
    color: #ac5a82;
}

p {
    text-indent: 1.5em;
}

a {
    color: #07a;
}

a:visited {
    color: #941352;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

small {
    font-size: .4em;
}

code {
    line-height: 1.0;
    display: inline-block;
}

div.fancyPositioning div.picture-left {
    float: left;
    width: 40%;
    overflow: hidden;
    margin-right: 1em;
}

div.fancyPositioning div.picture-left img {
    width: 100%;
}

div.fancyPositioning div.picture-left p.caption {
    font-size: .7em;
}

div.fancyPositioning div.tleft {
    float: left;
    width: 55%;
}

div.fancyPositioning div.tleft p:first-child {
    margin-top: 0;
}

div.fancyPositioning:after {
    display: block;
    content: "";
    clear: both;
}

ul li img {
    height: 1em;
}

blockquote {
    color: #456;
    margin-left: 0;
    margin-top: 2em;
    margin-bottom: 2em;
}

blockquote span {
    float: left;
    margin-left: 1rem;
    padding-top: 1rem;
}

blockquote:before {
    font-family: Times New Roman, Times, Arial, sans-serif;
    color: #666;
    content: open-quote;
    font-size: 2.2em;
    font-weight: 600;
    float: left;
    margin-top: 0;
    margin-right: .2rem;
    width: 1.2rem;
}

blockquote:after {
    content: "";
    display: block;
    clear: both;
}

@media screen and (max-width: 500px) {
    body {
        text-align: left;
    }

    div.fancyPositioning div.picture-left, div.fancyPositioning div.tleft {
        float: none;
        width: inherit;
    }

    blockquote span {
        width: 80%;
    }
}

img#logo, img#themeIcon {
    width: 3rem;
    height: 3rem;
}

img#themeIcon {
    float: right;
    cursor: pointer;
}

header {
    border-bottom: 1px solid #454545;
    padding: 0.3rem;
}

html.night header {
    border-bottom: 1px solid #bababa;
}

#jumpToTop {
    position: fixed;
    left: 0.5rem;
    bottom: 2rem;
}

#jumpToTop img {
    width: 2rem;
    height: 2rem;
    cursor: pointer;
}

.article {
    margin: 0 0 2em;
}

.article h3 {
    text-indent: 1.5em;
}

.date {
    float: right;
    margin: 0.4em 1em;
    font-style: italic;
    color: #505A5A;
}

html.night .date {
    color: #829DA0;
}

.article .date {
    font-size: 0.8em;
}

.icon {
    width: .8em;
    height: .8em;
    margin: .075em;
}
